<!-- Music Player Container (Root) -->
<div class="music-player">
  <app-nav-bar
  [activeTab]="activeTab"
  (tabChanged)="setActiveTab($event)">
</app-nav-bar>

<app-main-body
  [songs]="songs"
  [currentTrack]="currentTrack"
  [audioBars]="audioBars">
</app-main-body>

<app-player-controls
  [isPlaying]="isPlaying"
  [currentProgress]="currentProgress"
  [currentTrack]="currentTrack"
  [currentTime]="currentTrack.duration || '0:00'"
  (playPause)="togglePlayPause()"
  (previous)="previousSong()"
  (next)="nextSong()"
></app-player-controls>
</div>
