<div class="form-container">
  <h2 class="form-header">What song would you like to add?</h2>

  <form (submit)="submit($event)" class="form-main">
    <label>
      Song Name:
      <input
        type="text"
        [value]="songName()"
        (input)="songName.set($any($event.target).value)"
      />
    </label>
    <br />

    <label>
      Artist Name:
      <input
        type="text"
        [value]="artistName()"
        (input)="artistName.set($any($event.target).value)"
      />
    </label>
    <br />

    <label>
      Time:
      <input
        type="text"
        [value]="duration()"
        (input)="duration.set($any($event.target).value)"
      />
    </label>
    <br /><br />

    <button type="button" (click)="cancel()">Cancel</button>
    <button type="submit">Submit</button>
  </form>
</div>
