<!-- Song List Panel (Left Side) -->
<div class="song-list">
  <div class="header">
    <div class="info">
      <!--<div class="thumbnail"></div>-->
      <span>Your Sound Starts Here</span>
    </div>
    <div class="actions">
      <!--<button class="btn" mat-raised-button (click)="openDialog('0ms', '0ms')">Add</button>-->
      <app-song-form></app-song-form>

    </div>
  </div>

  <!-- Song Items -->
  <div class="items">
    @for (song of playlistLogic.displaySongList(); track song.id) {
      <div class="item">
        <div class="info">
          <div class="thumbnail"></div>
          <span>{{ song.name }}</span>
        </div>
        @if (!song.isPlaceholder) {
          <button class="btn-remove" (click)="playlistLogic.removeSong(song.id)">Remove</button>
      }
      </div>
    }
  </div>
</div>
